* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #828e84; /* Originally #4891ff;*/
  --light-color: #f4f4f6;
  --dark-color: #111;
  --secondary-color: #2a3439;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
  background: url('../videos/rain.gif');
  background-size: 20% 20%;
  /* Maybe we can change the whole background to be this?
  background: url('../images/Featured Banner.png');
  background-size: cover;
  */
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  /* background: #fff; */
  /*
  background: url('../videos/rain.gif');
  background-size: 15%;*/
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

/* Hero */
.hero {
  margin-bottom: 0px; /* Originally 50px */
  /*
  background: url('../videos/rain.gif');
  background-size: contain;
   */
  margin-top: -40px;
}

.hero .container {
  background-size: contain;
  background-position: center bottom;
  height: 450px;
}

.hero .hero-content {
  width: 70%;
  color: var(--light-color);
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 100px;
  color: var(--light-color);
}

.hero .intro-image {
  opacity: 1.0;
  position: absolute;
  z-index: -0.5;
  top: 546px;
  left: 75%;
  transform: translate(-50%, -50%);
}

.hero .intro-video {
  opacity: 1.0;
  position: absolute;
  z-index: -0.5;
  top: 476px;
  left: 63%;
  transform: translate(-50%, -50%);
}

.hero .intro-image-mobile {
  opacity: 1.0;
  position: absolute;
  z-index: -1;
  top: 59.6%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.hero .socials {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

/* Video */
.video {
  padding: 10px 0 40px;
}

.video .video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video .video-preview {
  margin-bottom: 20px;
  width: 1000px;
  height: auto;
}

.video .video-preview-2 {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}

.video .video-preview-3 {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}

.video .video-preview-4 {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}


/* Skills */

.skills::-webkit-scrollbar {
  display: none;
}

.skills {
  padding: 40px 0;
  overflow: hidden;
}

.skills .skills-heading {
  width: 700px;
  margin-bottom: 40px;
}

.skills-track {
  display: flex;
  width: max-content;
  animation: spin 20s linear infinite
}

.skills .skills-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  flex-shrink: 0;
  width: max-content;
  min-width: max-content;
  overflow: hidden;
}

.skills .skills-track::-webkit-scrollbar {
  display: none;
}

.skills .card p:nth-child(5){
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  align-content: center;
  margin-top: 30px;
  font-weight: bold;
}

@keyframes spin {
  from {transform: translateX(0)}
  to {transform: translateX(-50%);}
}

/* Project Card */
.project {
  background: url('../videos/blocky.gif');
  background-size: contain; /* There may be a better way to size this without squishing the elements*/
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}

.project .project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Orignally 1fr on second number */
  gap: 30px;
  margin-top: 50px;
}

.project .project-card-subheading {
  margin-bottom: 30px;
}

.project .project-card-price {
  margin: 0;
  padding: 0;
  border: none;
}

.project-card-header,
.project-card-body {
  padding: 20px;
}

.project-content {
  padding: 20px;
}

.project ul {
  margin: 30px 0;
}

.project ul li {
  margin-bottom: 20px;
}

.project ul li i {
  margin-right: 10px;
}

.project .project-footer {
  margin: 30px 0;
}

/* FAQ */
.faq {
  padding: 40px 0;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}

.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.faq ul.faq-menu li {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.faq ul.faq-menu li.active {
  background: var(--primary-color);
  color: #fff;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Card */
.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  font-weight: 600;
}

.project .card {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}

/* Hamburger Button */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

/* Media Queries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }

  .hero .intro-image-mobile {
    opacity: 1.0;
    position: absolute;
    z-index: -1;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .video .video-preview {
    margin-bottom: 20px;
    width: 800px;
    height: auto;
  }

  .video .video-preview-2 {
    margin-bottom: 20px;
    width: 244px;
    height: auto;
  }

  .video .video-preview-3 {
    margin-bottom: 20px;
    width: 244px;
    height: auto;
  }

  .video .video-preview-4 {
    margin-bottom: 20px;
    width: 244px;
    height: auto;
  }
}

@media (max-width: 770px) {
  .video .video-preview-2 {
    margin-bottom: 20px;
    width: 242px;
    height: auto;
  }

  .video .video-preview-3 {
    margin-bottom: 20px;
    width: 242px;
    height: auto;
  }

  .video .video-preview-4 {
    margin-bottom: 20px;
    width: 242px;
    height: auto;
  }
}

/* Better Resizing for these sizes?  */
@media (max-width: 760px) {
  .video .video-preview-2 {
    margin-bottom: 20px;
    width: 240px;
    height: auto;
  }

  .video .video-preview-3 {
    margin-bottom: 20px;
    width: 240px;
    height: auto;
  }

  .video .video-preview-4 {
    margin-bottom: 20px;
    width: 240px;
    height: auto;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .hamburger-button {
    display: block;
  }

  .hero .container {
    /* background: url('../images/hero-bg-mobile.png') no-repeat; */
    background-size: 350px 400px;
    background-position: bottom;
    height: 770px;
  }

  .hero .hero-content,
  .hero .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero .hero-buttons .btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }

  .hero .intro-image {
    opacity: 1.0;
    position: absolute;
    z-index: -1;
    top: 546px;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .hero .intro-image-mobile {
    opacity: 1.0;
    position: absolute;
    z-index: 0;
    max-width: auto;
    height: 45px;
    transform: translate(-50%, -50%);
  }

  .hero .socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    width: 95%;
    position: absolute;
  }

  .skills .skills-heading {
    max-width: 100%;
    text-align: center;
  }

  .skills .skills-grid,
  .project .project-grid,
  .footer .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer .card {
    margin-right: 0;
  }

  .footer .footer-grid > div {
    text-align: center;
  }

  /* Text */
  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }

  .video .video-preview {
    margin-bottom: 20px;
    width: 700px;
    height: auto;
  }

  .video .video-preview-2 {
    margin-bottom: 20px;
    width: 200px;
    height: auto;
  }

  .video .video-preview-3 {
    margin-bottom: 20px;
    width: 200px;
    height: auto;
  }

  .video .video-preview-4 {
    margin-bottom: 20px;
    width: 200px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }

  .hero .intro-image-mobile {
    opacity: 1.0;
    position: absolute;
    z-index: 0;
    max-width: auto;
    height: 75px;
  }

  .hero .socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    position: absolute;
  }

  .video .video-preview {
    margin-bottom: 20px;
    width: 600px;
    height: auto;
  }

  .video .video-preview-2 {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
  }

  .video .video-preview-3 {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
  }

  .video .video-preview-4 {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
  }
}